/* /* thead > tr {
    font-size: clamp(.5rem, -0.875rem + 8.333vw, 0.8rem);
    background-color: var(--tool-1);
    color: white;
} */

.dataTables_scrollHead {
    font-size: clamp(.4rem, -0.875rem + 8.333vw, 0.8rem);
    height: clamp(5rem, 100vw, 7rem);
}

.dataTables_scrollBody>table {
    font-size: clamp(.5rem, -0.875rem + 8.333vw, 0.8rem);
}

.tableInfoIcon {
    color: var(--tool-1);
    background-color: transparent;
    border-radius: 50%;
    border: none;
}
.tableRowIcon {
    color: var(--tool-1);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1px solid var(--tool-1);

}

.tableRowIcon:hover {
    background-color: var(--tool-1);
    color: white;
}

.tableRowIcon i {
    font-size: 7px;
    display: block;
    margin: auto;
    padding: 4px;
}


th.sorting_disabled > .tableHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-around;
    justify-content: space-between;
    height: clamp(4rem, 100vw, 5.2rem);
    text-align: end;
}

.icoContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    align-content: end;
}

.dataTables_scrollBody>table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 96.7vw !important;
    margin: 0 !important;
    padding: 0 !important;
}

#dataTableContainer > tbody > tr {
    border-bottom: 1px solid #f6eeee;
    height: 3rem;
}
td:not(:first-child) {
  text-align: right;
}
th {
  text-align: right;
}
tbody, td, tfoot, th, thead, tr {
    padding: 0.3rem;
}

.expand {
    /* padding-left: 0.5em; */
    font-size: 0.8em;
    color: var(--tool-1);
    border: 1px solid var(--tool-1);
    border-radius: 50%;
    position: relative;
    /* width: 1rem; */
    /* height: 1rem; */
    padding: 0.5rem;
    margin: 0.1rem;
}

.expand > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.chartIcon {
    position: relative;
    padding-left: 0.5em;
    font-size: 0.8em;
    background-color: var(--tool-1);
    border: 1px solid var(--tool-1);
    border-radius: 50%;
    position: relative;
    padding: 0.65rem;
    margin: 0.1rem;
}

.chartIcon > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#dataTableContainer > tbody > tr > td:first-child {
    display: flex;
    align-items: center;
    padding: 1px;
}
