@media (min-width: 320px) and (max-width: 480px) {
    #page {
      display: none;
    }
    .iconContainer {
      display: initial;
  }
.iconContainer {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}
.iconContainer p {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 20px;
  opacity: 0;
}

.phone {
  position: relative;
  left: 50%;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 0 solid #000;
  background: #c0c0c0;
  border-radius: 10px;
  box-sizing: border-box;
}
.phone i {
  text-align: center;
  width: 100%;
  line-height: 120px;
  font-size: 50px;
  color: #454545;
  opacity: 0;
}
  .phone {
    -webkit-animation: sizeIncrease .5s forwards ease,  borderIncrease .5s .5s forwards ease,  rotateRight .7s 1s forwards ease;
            animation: sizeIncrease .5s forwards ease,  borderIncrease .5s .5s forwards ease,  rotateRight .7s 1s forwards ease;
  }

  .phone i {
    -webkit-animation: fadeIn .5s .8s forwards ease;
            animation: fadeIn .5s .8s forwards ease;
  }

 .iconContainer p {
    -webkit-animation: fadeIn .5s 1.3s forwards ease;
            animation: fadeIn .5s 1.3s forwards ease;
  }

/* KEYFRAMES
------------------------------------------- */
/* Animate width + height */
@-webkit-keyframes sizeIncrease {
  0% {
    width: 0;
    height: 10px;
  }
  50% {
    width: 100px;
    height: 10px;
  }
  100% {
    width: 100px;
    height: 160px;
  }
}
@keyframes sizeIncrease {
  0% {
    width: 0;
    height: 10px;
  }
  50% {
    width: 100px;
    height: 10px;
  }
  100% {
    width: 100px;
    height: 160px;
  }
}
/* Add borders */
@-webkit-keyframes borderIncrease {
  100% {
    border-width: 20px 10px;
  }
}
@keyframes borderIncrease {
  100% {
    border-width: 20px 10px;
  }
}
/* fade-in  */
@-webkit-keyframes fadeIn {
  100% {
    color: #000;
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    color: #000;
    opacity: 1;
  }
}
/* Rotate device */
@-webkit-keyframes rotateRight {
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotateRight {
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}





}


@media (min-width: 481px) and (max-width: 820px) {
    .iconContainer {
        display: none;
      }
      #page {
        display: initial;
      }


      html, body {      
        overflow-x: hidden;
    }

/* NAV BAR  */

#eurostatLogo { 
  width: 5.5em;
  height: 2em;
}

h1#mainTitle {  
  font-size: 0.6em;
}

img.social-media-icon {
  width: 25px !important;
}

div#social-media {
  padding-right: .5em;
}

/* MENU   */


.selectMenu {
  padding-top: 1em; 
}

.tutorial > i.fal.fa-book-open {
  font-size: 1.5em;
}

p.select-box__input-text {
  font-size: .4em;
  word-break: break-word;
}

th {
  font-size: 0.6em;
}

.select-box__icon {
  right: -8px;
  font-size: 1em;
}

.select-box__option { 
  padding: 2px; 
}

.select-box__list {
  font-size: 9px;
}

/* TABLE   */

table#dataTableContainer {
  width: 800px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h2.pub2  {
  font-size: 2.5em;
  top: 1.2em;
  right: 13px;
}

.dt-buttons { 
  position: -webkit-sticky;
  position: sticky;
  top:50px;
  left: 0;
  justify-content: end;
}


.dataTables_wrapper {
  margin-top: -2em;
  /* margin-left: 0em; */
  /* margin-right: 1em; */
  width: 790px;
  /* overflow: auto; */
  overflow-x: auto;
  margin: 0 auto;
  position: relative;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 6px 5px;
}

td:not(:first-child) {
  font-size: .6em;
}

tr.unitRow > th:not(:first-child) { 
  padding: 0 !important;
}

tr.unitRow th:first-child, tr td:first-child, tr th.sorting_disabled:first-child {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  font-size: 10px;
  min-width: 200px;
  z-index: 99;
}

.icoContainer { 
  margin-right: 2em !important;
}

/* news feed */

.interface-container {
  width: 1024px;
  padding-top: 6em;
}
h2.pub  {
  font-size: 2.5em;
  top: 1.2em;
  left: -2px;
}


.swiper-container {
  max-width: 700px;
}

.swiper-wrapper {
  height: 27rem;
}

.card.shadow.existing-card {
  height: 23rem;
}

h3.card-title.mb-3 {
  font-size: 0.9em;
  font-weight: 700;
}

p.card-text.report {
  font-size: 0.7em;
  font-weight: 400;
}

#energyModal > .modal-xl {
  max-width: 95%;
  max-height: 100vh;
}


.dataTables_wrapper .dataTables_scroll {  
  margin-top: 6em;
}

/* .dataTables_scrollHead, th{
  background-color: white;
  z-index: 106;
  border-bottom: 0px solid white;
} */




  }


  @media only screen and (min-device-width: 821px) and (max-device-width: 1024px) and (orientation: landscape) {

    .iconContainer {
      display: none;
    }
    #page {
      display: initial;
    }


    html, body {      
      overflow-x: hidden;
  }

/* menu */

.select-box { 
  height: 80px;  
}

button.btn.tutorial { 
  width: 70px;
  height: 80px; 
}


  /* TABLE   */

table#dataTableContainer {
  width: 1000px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h2.pub2  {
  font-size: 2.5em;
  top: 1.2em;
  right: 35px;
}

.dt-buttons { 
  position: -webkit-sticky;
  position: sticky;
  top:50px;
  left: 0;
  justify-content: end;
}


.dataTables_wrapper {
  margin-top: -2em;
  /* margin-left: 0em; */
  /* margin-right: 1em; */
  width: 950px;
  /* overflow: auto; */
  overflow-x: auto;
  margin: 0 auto;
  position: relative;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 6px 5px;
}

tr.unitRow > th:not(:first-child) { 
  padding: 0 !important;
}

tr.unitRow th:first-child, tr td:first-child, tr th.sorting_disabled:first-child {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  font-size: .9em;
  min-width: 200px;
}

td:not(:first-child) {
  font-size: .7em;
}


.icoContainer { 
  margin-right: 2em !important;
}

/* news feed */

.interface-container {
  width: 1024px;
  padding-top: 6em;
}
h2.pub  {
  font-size: 2.5em;
  top: 1.2em;
  left: -2px;
}


.swiper-container {
  max-width: 700px;
}

.swiper-wrapper {
  height: 27rem;
}

.card.shadow.existing-card {
  height: 23rem;
}

h3.card-title.mb-3 {
  font-size: 0.9em;
  font-weight: 700;
}

p.card-text.report {
  font-size: 0.7em;
  font-weight: 400;
}

#energyModal > .modal-xl {
  max-width: 95%;
  max-height: 100vh;
}
    
  }


